/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  /* colors */
  --background-color: #fff;
  --text-color: #000;
  --text-color-secondary: #331a00;
  --text-color-reverse: var(--background-color);
  --primary-color: #BF7F5A;
  --secondary-color: #ffcca2;
  --tertiary-color: #ffecdc;
  --link-color: saddlebrown;

  /* fonts */
  --body-font-family: monteserrat, monteserrat-fallback, sans-serif;
  --heading-font-family: monteserrat-bold, monteserrat-fallback, sans-serif;


  /* heading sizes */
  --font-size-h1: 2rem; /* h1 */
  --font-size-h2: 1.8rem; /* h2 */
  --font-size-h3: 1.75rem; /* h3 */
  --font-size-h4: 1.5rem; /* h4 */
  --font-size-h5: 1.25rem; /* h5 */
  --font-size-h6: 1.2rem; /* h6 */
  --font-size-body: 1rem; /* p */

  /* Border */
  --border-radius: 1rem;

  /* nav heights */
  --nav-height: 64px;
  --breadcrumbs-height: 34px;
  --header-height: var(--nav-height);
  --footer-height: 100px;

  /* Spacings */
  --spacing-xs: 1rem;
  --spacing-s: 1.5rem;
  --spacing-l: 2.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
  font-family: var(--body-font-family);
}

html {
  line-height: 1.5;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: monteserrat-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

body.appear {
  display: block;
  min-height: 100vh;
}

header {
  height: var(--header-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: inherit;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  margin-bottom: var(--spacing-s);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

body {
  font-size: var(--font-size-body);
}

.default-content-wrapper > :not(p) {
  text-align: center;
}

.no-center-template .default-content-wrapper > :not(p) {
  text-align: left;
}

p {
  margin-bottom: .4rem;
}

input,
textarea,
select,
button {
  font: inherit;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* sections */
main > .section {
  padding: var(--spacing-l) var(--spacing-xs);
  position: relative;
}

main > .section.top-spacing-0 {
  padding-top: 0;
}

main > .section.bottom-spacing-0 {
  padding-bottom: 0;
}

.section.background-ellipse::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: calc(100% + 100px);
  transform: rotate(25deg);
  height: 100%;
  background-color: var(--tertiary-color);
  border-radius: 105% / 107%;
  z-index: -1;
}

.section.background-ellipse {
  overflow-x: clip;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
}

main > .section:first-of-type {
  margin-top: 0;
}

.section.negative-margin-top-xxl {
  margin-top: -10rem;
}

@media (width <= 1025px) {
  .mobile-no-padding, main > .section.mobile-no-padding {
    padding: 0;
  }
}


@media (width >= 1024px) {
  :root {
    --font-size-h1: 3rem; /* h1 */
    --font-size-h2: 2.5rem; /* h2 */
    --font-size-h3: 2rem; /* h3 */
    --font-size-h4: 1.75rem; /* h4 */
    --font-size-h5: 1.5rem; /* h5 */
    --font-size-h6: 1.25rem; /* h6 */
  }

  main > .section {
    padding-left: 0;
    padding-right: 0;
  }

  .section.background-ellipse::before {
    left: -200px;
    width: calc(100% + 400px);
    transform: rotate(-10deg);
  }

  .section.desktop-negative-margin-top-xxl {
    margin-top: -10rem;
  }
}
